{{!< default}}

<main id="gh-main" class="gh-main gh-outer">
    <div class="gh-inner">
        {{^is "paged"}}
            {{#foreach posts limit="1"}}
            <div class="gh-home-head flex">
                <article class="gh-latest gh-card {{post_class}}">
                    <a class="gh-card-link" href="{{url}}">
                        <header class="gh-card-header">
                            <div class="gh-article-meta">
                                <span class="gh-card-date">Latest — <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMM YYYY"}}</time></span>
                            </div>
                            <h2 class="gh-article-title gh-card-title">{{title}}</h2>
                        </header>

                        <p class="gh-article-excerpt">{{excerpt}}</p>

                        <footer class="gh-card-meta">
                            <span class="gh-card-duration">{{reading_time}}</span>
                            {{#if @site.comments_enabled}}
                                {{comment_count class="gh-card-comments"}}
                            {{/if}}
                            {{^has visibility="public"}}
                                {{> icons/star}}
                            {{/has}}
                        </footer>
                    </a>
                </article>
                <img src="{{asset 'images/small_screen_hi_welcome.png'}}" width="300" class="muncher-waving" alt="Chief Muncher at your service">
                <div class="face-container">
                    <img src="{{asset 'images/TMnoeye.png'}}" draggable="false"  class="character-face" alt="Chief Muncher at your service">
                    <div class="eye left">
                        <div class="pupil"></div>
                    </div>
                    <div class="eye right">
                        <div class="pupil"></div>
                    </div>
                    <style>
                        /* The container for the head */
                        .face-container {
                            position: relative;
                            min-width: 400px;
                            width: 400px; /* Adjust based on your image size */
                            margin: 50px auto;
                            pointer-events: none;
                        }

                        @media(min-width: 1150px) {
                            .muncher-waving {
                                display: none;
                            }
                        }

                        @media(max-width: 1150px) {
                            .gh-home-head {
                                flex-wrap: wrap
                            }
                            .face-container {
                                display: none;
                            }
                            .muncher-waving {
                                display: block;
                                position: relative;
                                top:7px
                            }
                        }

                        /* The base character image */
                        .character-face {
                            width: 100%;
                            display: block;
                            border-radius: 20px;
                            position:relative;
                            z-index: 2;
                            pointer-events: none;
                        }


                        /* Eye Socket Containers */
                        .eye {
                            position: absolute;
                            width: 53px;  /* Size of the eye sockets */
                            height: 23px;
                            background: rgb(255, 253, 240); /* Matches the clay whites */
                            border-radius: 50%;
                            top: 44%;    /* Position over the eyes in the image */
                            overflow: hidden;
                            z-index:1
                            pointer-events: none;
                        }

                        .eye.left { left: 29%; }
                        .eye.right { left: 58%; }

                        /* The Pupils (The parts that move) */
                        .pupil {
                            position: absolute;
                            width: 18px;
                            height: 18px;
                            background: #333; /* Dark clay color */
                            border-radius: 50%;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            transition: transform 0.1s ease-out;
                            z-index:1;
                            pointer-events: none;
                        }

                        /* The Eyelid (Blink Animation) */
                        .eye::after {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 0%; /* Start open */
                            background: #bd8e6d; /* Match the clay skin tone */
                            animation: blink 6s infinite;
                            z-index:1;
                            pointer-events: none;
                        }

                        @keyframes blink {
                            0%, 90%, 100% { height: 0%; }
                            95% { height: 100%; } /* Quick shut and open */
                        }

                        /* Tablet/Mobile Safety: Disable tracking if no hover is available */
                        @media (hover: none) {
                            .pupil {
                            transition: all 0.5s ease;
                            }
                        }
                    </style>
                    <script>
                        const pupils = document.querySelectorAll('.pupil');

                        window.addEventListener('mousemove', (e) => {
                        pupils.forEach(pupil => {
                            // Get the center of the eye
                            const rect = pupil.parentElement.getBoundingClientRect();
                            const x = rect.left + rect.width / 2;
                            const y = rect.top + rect.height / 2;
                            
                            // Calculate angle between mouse and eye center
                            const angle = Math.atan2(e.pageY - y, e.pageX - x);
                            const distance = Math.min(rect.width / 4, Math.hypot(e.pageX - x, e.pageY - y) / 10);
                            
                            // Move the pupil
                            const moveX = Math.cos(angle) * distance * 0.9;
                            const moveY = Math.sin(angle) * distance * 0.5;
                            
                            pupil.style.transform = `translate(calc(-50% + ${moveX}px), calc(-50% + ${moveY}px))`;
                        });
                        });
                    </script>   

                </div>
            </div>
            {{/foreach}}
        {{/is}}

        <div class="gh-wrapper">
            <section class="gh-section">
                <h2 class="gh-section-title">More issues</h2>

                <div class="gh-feed">
                    {{^is "paged"}}
                        {{#foreach posts from="2"}}
                            {{> loop}}
                        {{/foreach}}
                    {{else}}
                        {{#foreach posts}}
                            {{> loop}}
                        {{/foreach}}
                    {{/is}}
                </div>

                {{#match posts.length "=" 1}}
                    Additional issues will be published soon.
                {{/match}}

                <button class="gh-loadmore gh-btn">Load more issues</button>
            </section>

            <aside class="gh-sidebar">
                <section class="gh-section">
                    <h2 class="gh-section-title">About</h2>

                    <div class="gh-about">
                        {{#if @site.icon}}
                            <img class="gh-about-icon" src="{{@site.icon}}" alt="{{@site.title}}">
                        {{/if}}

                        <section class="gh-about-wrapper">
                            <h3 class="gh-about-title">{{@site.title}}</h3>

                            {{#if @site.description}}
                                <p class="gh-about-description">{{@site.description}}</p>
                            {{/if}}
                        </section>
                    </div>

                    {{#if @site.members_enabled}}
                        {{^if @member.paid}}
                            <div class="gh-signup">
                                {{^if @member}}
                                    <p class="gh-signup-description">Sign up now to get access to the library of members-only issues.</p>

                                    <a class="gh-subscribe-input" href="#/portal/signup" data-portal="signup">
                                        <div class="gh-subscribe-input-text">
                                            {{> icons/email}}
                                            jamie@example.com
                                        </div>
                                        <div class="gh-subscribe-input-btn">Subscribe</div>
                                    </a>
                                {{else}}
                                    {{#if @setting.paid_members_enabled}}
                                        <p class="gh-signup-description">Upgrade to a paid account to get full access.</p>
                                        <a class="gh-signup-btn gh-btn gh-primary-btn" href="#/portal/account/plans" data-portal="account/plans">Upgrade now</a>
                                    {{/if}}
                                {{/if}}
                            </div>
                        {{/if}}
                    {{/if}}
                </section>

                {{#get "posts" filter="featured:true" limit="5" as |featured|}}
                    {{#if featured}}
                        <section class="gh-section">
                            <h3 class="gh-section-title">Featured</h3>

                            <div class="gh-featured gh-feed">
                                {{#foreach featured}}
                                    {{> loop}}
                                {{/foreach}}
                            </div>
                        </section>
                    {{/if}}
                {{/get}}

                {{#get "tags" include="count.posts" limit="100" as |topic|}}
                    <section class="gh-section">
                        <h3 class="gh-section-title">Topics</h3>

                        <div class="gh-topic">
                            {{#foreach topic}}
                                <a class="gh-topic-item" href="{{url}}">
                                    <h3 class="gh-topic-name">{{name}}</h3>
                                    <span class="gh-topic-count">
                                        {{plural count.posts empty="0 issues" singular="% issue" plural="% issues"}}
                                    </span>
                                </a>
                            {{/foreach}}
                        </div>
                    </section>
                {{/get}}

                {{#if @site.recommendations_enabled}}
                    <section class="gh-section">
                        <h3 class="gh-section-title">Recommendations</h3>

                        <div class="gh-recommendations">
                            {{recommendations}}
                            <button data-portal="recommendations">See all {{> "icons/arrow-right"}}</button>
                        </div>
                    </section>
                {{/if}}
            </aside>
        </div>
    </div>
</main>